* {
    text-decoration: none;
    list-style-type: none;
    /* max-width: 1180px; */
    /* margin-inline: auto; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding-inline: 80px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.car-section {
    margin-inline: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}
.car-section img {
    width: 100%;
    /* position: relative; */
    /* margin-inline: auto; */
    /* margin-left: 80px; */

}
.intro-subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
h3, #buy-now {
    margin-top: 25px;
    text-align: center;
    display: none;
    /* background-color: darkblue; */
}
h3 {
    font-size: 2rem;
    letter-spacing: 9px;
    font-weight: 100;
}
#buy-now {
   padding: 10px;
   border-radius: 2px;
   width: fit-content;
   border: none;
   background-color: rgb(176, 152, 12);
   color: white;
   font-weight: 600;
   text-align: center;
   margin-inline: auto;
}
#buy-now:hover {
    background-color: rgb(149, 132, 5);
}

h2 {
    font-size: 2.4rem;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 4px;
}
h2.logo::after {
    content: 'Buy';
    color: rgb(236, 213, 6);
}
.list {
    display: none;
    margin-top: 30px;
}

ul {
    display: flex;
    gap: 40px;
}
a {
    color: black;
    font-size: 1.1rem;
    padding: 5px;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* main section start */
main {
    display: none;
}
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.main-left {
    min-width: 50%;
}
.main-right img {
    width: 100%;
}
.main-right {
    display: flex;
    align-items: center;
}
.main-imgs {
    overflow: hidden;
    max-width: 100%;
    display: flex;
}
/* .civic {
    transition: 0.5s;
}
.civic:hover {
    transform: translateX(-100%);
} */
 .main-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    /* transform: translateY(-20px); */
 }
 #car-name {
    font-size: 3.3rem;
    color: rgba(0, 0, 0, 0.957);
    transition: 0.5s ease-in-out;
    letter-spacing: 2px;
}
#model {
    font-size: 2rem;
    transition: 0.5s ease-in-out;
}
#carimg {
    transition: 0.5s ease-in-out;
 }
 .main-span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 15px;
    letter-spacing: 2px;
 }
 select  {
    border: none;
    font-size: 1.1rem;

 }
 select:focus, select:active {
    border: none;
 }
 #search {
    border: 1px solid grey;
    /* padding: 5px; */
    border-radius: 4px;
 }