* {
    text-decoration: none;
    list-style-type: none;
    /* max-width: 1180px; */
    /* margin-inline: auto; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    padding-inline: 80px;
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
.car-section {
    margin-inline: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 20px; */
}
.car-section img {
    width: 100%;
    /* position: relative; */
    /* margin-inline: auto; */
    /* margin-left: 80px; */

}
.intro-subtitle {
    display: flex;
    justify-content: center;
    flex-direction: column;


}
h3, #buy-now {
    margin-top: 25px;
    text-align: center;
    display: none;
    /* background-color: darkblue; */
}
h3 {
    font-size: 2rem;
    letter-spacing: 9px;
    font-weight: 100;
}
.allcars {
    display: none;
}
#buy-now {
   padding: 10px;
   border-radius: 2px;
   width: fit-content;
   border: none;
   background-color: rgb(176, 152, 12);
   color: white;
   font-weight: 600;
   text-align: center;
   margin-inline: auto;
}
#buy-now:hover {
    background-color: rgb(149, 132, 5);
}

h2 {
    font-size: 2.4rem;
    margin-top: 30px;
    text-align: center;
    letter-spacing: 4px;
}
h2.logo::after {
    content: 'Buy';
    color: rgb(236, 213, 6);
}
.list {
    display: none;
    margin-top: 30px;
}

ul {
    display: flex;
    gap: 40px;
}
a {
    color: black;
    font-size: 1.1rem;
    padding: 5px;

}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* main section start */
main {
    display: none;
}
.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
.main-left {
    min-width: 50%;
}
.main-right img {
    width: 100%;
}
.main-right {
    display: flex;
    align-items: center;
}
.main-imgs {
    overflow: hidden;
    max-width: 100%;
    display: flex;
}
/* .civic {
    transition: 0.5s;
}
.civic:hover {
    transform: translateX(-100%);
} */
 .main-left {
    text-align: left;
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    /* transform: translateY(-20px); */
 }
 #car-name {
    font-size: 3.3rem;
    color: rgba(0, 0, 0, 0.957);
    transition: 0.5s ease-in-out;
    letter-spacing: 2px;
}
#model {
    font-size: 2rem;
    transition: 0.5s ease-in-out;
}
#carimg {
    transition: 0.5s ease-in-out;
 }
 .main-span {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-block: 15px;
    letter-spacing: 2px;
 }
 select  {
    border: none;
    font-size: 1.1rem;

 }
 select:focus, select:active {
    border: none;
 }
 #search {
    border: 1px solid grey;
    /* padding: 5px; */
    border-radius: 4px;
 }
 .hero-section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    max-height: 60vh;
 }
 .hero-section .hero-img {
    width: 600px;
 }
 .specs {
    display: flex;
    align-items: center;
    gap: 20px;
    transform: translateY(-50px);
 }
 #hero-2 {
    transform: translateY(-70px);
 }
 @media (max-width: 600px) { 
    .logo {
        font-size: 2rem;
        margin-top: 30px;
        margin-bottom: 50px;
    }
    .intro-h3 {
        font-size: 1rem;
        letter-spacing: 4px;
        padding: 10px;
        margin-block: 30px;
    }
    ul a {
        font-size: 0.7rem;
    }
    select {
        font-size: 0.7rem;

    }
    ul a:nth-child(1) {
        display: none;
    }
    ul a:nth-child(2) {
        display: none;
    }
    ul {
        gap: 5px;
    }
    nav {
        padding-inline: 20px;
        flex-direction: column;
        /* margin-right: 20px;
        margin: 0; */
    }
    .list {
        padding-inline: 20px;
        margin: 0;
    }
    #car-name {
        font-size: 2rem;
        text-align: center;
        margin-inline: auto;
    }
    .icon {
        width: 18px;
    }
    #petrol, #price, #engine, #speed {
        font-size: 0.8rem;
        margin-bottom: 2px;
    }
    .main-left {
        /* max-width: 30%; */
        text-align: center;
    }
    .main-right {
        min-width: 60%;
    }
    .main-section {
        padding-inline: 15px;
        flex-direction: column-reverse;
    }
    .main-specs {
        display: flex;
        font-size: 0.4rem;
        max-width: 80%;
        /* padding-inline: 10px; */
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
        align-items: center;
        margin-inline: auto;
    }
    .main-imgs img {
        width: 260px;
        /* min-width: 260px; */
    }
    .main-right {
        gap: 10px;
    }
    .hero-img {
        /* margin-top: 20px; */
        max-width: 350px;
        margin-inline: auto;
        transform: translateY(-65px);
        margin-bottom: 15px;
    }
    #hero-2 {
        transform: translateY(-125px);
        font-size: 1.9rem;
    }
    .specs {
        display: flex;
        flex-wrap: wrap;
        transform: translateY(-110px);
        padding-inline: 50px;
        font-size: 0.8rem;
    }
    
    
 }
